@font-face {
  font-family: "logo";
  src: url('./fonts/Chillax-Regular.otf');
}

@font-face {
  font-family: "deka";
  src: url('./fonts/Chillax-Bold.otf');
}

@font-face {
  font-family: "ヒラギノ角ゴシック W3";
  src: url('./fonts/ヒラギノW3.otf');
}

@font-face {
  font-family: "ヒラギノ角ゴシック W6";
  src: url('./fonts/ヒラギノW6.otf');
}