* {
    margin: 0px;
    padding: 0px;
    background-color: #eff1f7;
}

.logo {
    font-family: "logo";
    font-size: 72px;
    padding: 24px;
    margin: 60px;
    margin-top: 0px;
    position: relative;
}


.logo:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-image: -webkit-repeating-linear-gradient(135deg, #5CA2D5, #5CA2D5 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #5CA2D5, #5CA2D5 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.deka {
    font-family: 'General Sans', sans-serif;
    padding: 84px;
    padding-top: 0px;
    font-size: 175px;
    letter-spacing: 5px;
}
