* {
    margin: 0px;
    padding: 0px;
    background-color: #eff1f7;
}

header {
    background-color: #eff1f7;
}

.logo {
    font-family: 'Switzer', sans-serif;
    font-size: 72px;
    padding: 20px;
    margin: 60px;
    margin-top: 10px;
    margin-left: 45px;
    position: relative;
}


.logo:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-image: -webkit-repeating-linear-gradient(135deg, #5CA2D5, #5CA2D5 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #5CA2D5, #5CA2D5 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.main {
    padding: 84px;
    padding-top: 0px;
    background-color: #eff1f7;
}

.deka {
    font-family: 'General Sans', sans-serif;
    padding-top: 0px;
    font-size: 175px;
    letter-spacing: 5px;
}

.dekatext {
    font-size: 87px;
    font-family: "ヒラギノ角ゴシック W6";
    letter-spacing: 4px;
}

.dan {
    padding: 7px;
    border-bottom: 3px solid #fafafa;
    border-radius: 13px;
    margin-top: 90px;
    font-family: "ヒラギノ角ゴシック W6";
    font-size: 60px;
    border-bottom: 7px solid #F68887;
}

.moji {
    margin-top: 30px;;
    margin-bottom: 30px;
}

.honbun {
    font-size: 24px;
    margin-top: 45px;
    letter-spacing: 0.06em;
}

footer {
   padding: 84px;
}

.flogo {
    position: relative;
}

.flogo:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-image: -webkit-repeating-linear-gradient(135deg, #5CA2D5, #5CA2D5 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #5CA2D5, #5CA2D5 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

small {
    display: block;
    font-size: 20px;
    letter-spacing: 0.5px;
    background-color: #E1E0E0;
    text-align: center;
    padding: 11px;
}

.cpright {
    background-color: #E1E0E0;
}

.btn {
    text-decoration: none;
    color: #668ad8;
    border-radius: 13px;
    border: double 4px #668ad8;
    font-size: 18px;
    padding: 12px;
}